.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 20px;
    font-size: 25px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 240px;
}

.button {
  margin-top: 15px;
  /* background-color: #0066FF; */
  /* border: none; */
  /* color: white; */
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.smallTR{
  font-size:17px;
}

.inputFields{
  text-align: center;
}